<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>asdf</title>
</head>

<body>
    <h3>Add Clip</h3>

    <h3>View Clips</h3>
    {{ range $clip := . }}
    <p>------------------</p>
    Clip ID: {{ .ID }}<br />
    Playback ID: {{ .PlaybackID }}<br />
    Asset ID: {{ .AssetID }}<br />
    Date uploaded: {{ .DateUploaded }}<br />
    Description: {{ .Description }}<br />
    User ID: {{ .UserID }}<br />
    Uploader: {{ .Username }}<br />
    Game ID: {{ .Game }}<br />
    Game name: {{ .GameID }}<br />
    Tags: {{ .Tags }}<br />
    Featured players: {{ .FeaturedUsers }}<br />
    {{ end }}
</body>

</html>