<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>

<body>
    <h3>Add Clip</h3>
    <!-- Create HTML form to upload a clip -->
    <form action="/clips/new" method="post" enctype="multipart/form-data">
        <label for="clip">Clip:</label>
        <input type="file" name="clip" id="clip"><br />
        <label for="description">Description:</label>
        <input type="text" name="description" id="description"><br />
        <label for="game">Game:</label>
        <input type="text" name="game" id="game"><br />
        <label for="tags">Tags:</label>
        <input type="text" name="tags" id="tags"><br />
        <label for="featured_users">Featured Users:</label>
        <input type="text" name="featured_users" id="featured_users"><br />
        <label for="username">User ID:</label>
        <input type="text" name="username" id="username"><br />
        <input type="submit" value="Submit">
    </form>
    <!-- create add user form with fields username, email -->
    <h3>Add User</h3>
    <form action="/users/new" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username"><br />
        <label for="email">Email:</label>
        <input type="text" name="email" id="email"><br />
        <input type="submit" value="Submit">
    </form>

    <!-- create add game form with fields for game name -->
    <h3>Add Game</h3>
    <form action="/games/new" method="post">
        <label for="name">Game:</label>
        <input type="text" name="name" id="name"><br />
        <input type="submit" value="Submit">
    </form>


    <h3>View Clips</h3>
    {{ range $clip := . }}
    <p>------------------</p>
    Clip ID: {{ .ID }}<br />
    Playback ID: {{ .PlaybackID }}<br />
    Asset ID: {{ .AssetID }}<br />
    Date uploaded: {{ .DateUploaded }}<br />
    Description: {{ .Description }}<br />
    User ID: {{ .UserID }}<br />
    Uploader: {{ .Username }}<br />
    Game ID: {{ .Game }}<br />
    Game name: {{ .GameID }}<br />
    Tags: {{ .Tags }}<br />
    Featured players: {{ .FeaturedUsers }}<br />
    {{ end }}
</body>



</html>