<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>

<body>
    <h3>
        <a href="/admin/clips">Clips</a> | <a href="/admin/users">Users</a> | <a href="/admin/games">Games</a>
    </h3>
    <!-- create add user form with fields username, email -->
    <h3>Add User</h3>
    <form action="/users/new" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username"><br />
        <label for="email">Email:</label>
        <input type="text" name="email" id="email"><br />
        <input type="submit" value="Submit">
    </form>

    <!-- list all users -->
    <h3>View Users</h3>
    {{ range $user := . }}
    <p>------------------</p>
    User ID: {{ .ID }}<br />
    Username: {{ .Username }}<br />
    Email: {{ .Email }}<br />
    <form action="/users/delete" method="post">
        <input type="hidden" name="id" value="{{ .ID }}">
        <input type="hidden" name="username" value="{{ .Username }}">
        <input type="hidden" name="email" value="{{ .Email }}">
        <input type="submit" value="Delete">
    </form>
    {{ end }}

</body>



</html>